/* mise en page globale, structure de la page */
* {
    margin: 0;
    padding: 0;
}

html, body
{
  background-color: #210C17;
  font-family:tahoma, geneva, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

#titre_page
{
  text-align: center;
  padding: 40px;
  font-weight: bold;
  color: #FF9966;
}

#corps
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
}

/******************************************************************************/
/* corps de la page, pour les différentes sections */
section
{
    width: 900px;
    margin: auto;
    text-align: justify;
    padding-left: 30px; /* marge intérieure */
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px; /* Marge extérieure */
    background-color: #371326;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    word-wrap: break-word;
    color: #DDD;
    line-height: 1.5;
}

/* titres de page */
h2
{
  text-align: center;
  padding-bottom: 20px;
  color: #FF9966;
}

h3
{
  text-align: center;
  padding-bottom: 20px;
  color: #FF9966;
}

h4
{
  color: #FF9966;
}

p
{
  text-indent: 50px;
}

/******************************************************************************/
/* pied de la page */
footer
{
  width: 1200px;
  height: 60px;
  display : table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px; /* marge intérieure */
  padding-top: 10px;
  word-wrap: break-word;
  background-color: #371326;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  text-align: center;
  color: #DDD;
}

/******************************************************************************/
/* menu horizontal */
#menu
{
  width: 1200px;
  height: 60px;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0px; /* marge intérieure */
  word-wrap: break-word;
  background-color: #371326;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.lien_menu
{
  display: table-cell;
  width: 100px;
}

.affichage_lien_menu {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #DDD;
  line-height: 60px;
}

.affichage_lien_menu:hover
{
  color: #FF9966;
  margin-left: 20px;
  border-bottom: 4px solid;
  border-color: #FF9966;
  font-weight: bold;
  transition-duration: 0s, 0s, 1s, 1s;
  transition-property: font-weight, color, margin-left, border-bottom;
}

/* menu latéral */
#menu_lat
{
  width: 320px;
  margin: auto;
  text-align: justify;
  padding: 20px; /* marge intérieure */
  margin: 20px; /* Marge extérieure */
  word-wrap: break-word;
  background-color: #371326;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.lien_menu_lat
{
  display: table;
  width: 320px;
}

.affichage_lien_menu_lat
{
  text-decoration: none;
  display: block;
  text-align: left;
  color: #DDD;
  line-height: 40px;
}

.affichage_lien_menu_lat:hover
{
  color: #FF9966;
  font-weight: bold;
  padding-left: 20px;
  border-left: 4px solid;
  border-color: #FF9966;
  transition-duration: 0s, 0s, 1s, 1s;
  transition-property: font-weight, color, padding-left, border-left;
}
